body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
}
aside {
    width: 200px;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    height: 100vh;
    position: fixed;
}
.main {
    position: absolute;
    margin-left: 200px;
    padding: 20px;
    width: calc(100% - 200px);
    overflow: hidden;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    margin-bottom: 10px;
}
nav ul li a {
    text-decoration: none;
    color: #333;
}